{% extends 'layout.html' %}


{% block content %}
<h1>Requesting Capacity</h1>

<div class="content-section">
<table class="table table-striped">
  <tr>
					<td width="20%" class="tdColor"><strong>Student Full Name</strong></td>
					<td width="33%" colspan="2">Name</td>
					<td width="18%"  class="tdColor"><strong>Student ID Number</strong></td>
					<td width="29%">ID</td>
  </tr>

  <tr>
					<td class="tdColor"><strong>Class</strong></td>
					<td colspan="2">Senior</td>
					<td class="tdColor"><strong>Faculty</strong></td>
					<td>Arts & Sciences </td>
  </tr>


  <tr>
					<td class="tdColor"><strong>Major</strong></td>
					<td colspan="2">Bachelor in Computer Science</td>
					<td class="tdColor"><strong>GPA</strong></td>
					<td>gpa </td>
  </tr>

    <tr>
					<td class="tdColor"><strong>Course</strong></td>
					<td colspan="4">CMPS 283</td>

   </tr>
  <tr>
					<td class="tdColor"><strong>Student Comment</strong></td>
					<td colspan="4">comment</td>

   </tr>



</table>
 </div>

<div class="content-section">
<table class="table table-striped">
 <tr>
			<td width="22%" class="tdColor"><strong>Reviewer Type</strong><br><strong>Reviewer Name</strong>
              <br><strong>Date</strong><br>
			   <strong>Recommendation</strong></td>
		<td colspan="4" valign="top">Student Adviser<br>name <br>date<br>comment</td>
 </tr>




</table>
 </div>



{% endblock content %}
