{% extends 'layout.html' %}


{% block content %}
<h1>Petition History</h1>
<div class="content-section">
    <table class="table table-striped">
        <thead style="background-color:#778899; color:white">
            <tr>
                <th scope="col">View</th>
                <th scope="col">Petition Reference NO</th>
                <th scope="col">Petition Type</th>
                <th scope="col">Petition Decision</th>
                <th scope="col">Submission Date</th>
            </tr>
        </thead>
        {%for petition in request_history %}
        <tbody>
            <tr>
                <td><a href="{{url_for('petitions.petition_request_details', petition_id=petition.id)}}" style="text-decoration: none">
                    <i class="flaticon-bullseye" style="color:#212529"></i> </a></td>
                <td> {{petition.id}} </td>
                <td> {{petition.petition_type.name}} </td>
                <td> {{petition.petition_status.name}} </td>
                <td> {{petition.date_submitted.strftime('%Y-%m-%d, %H:%M')}} </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>

{% endblock content %}